@model IEnumerable<CRM.Models.VFamiliaProductosVendido>

@{
    ViewData["Title"] = "Index";
}

<h1>Familias de productos vendidos</h1>

<div class="container">
    <form class="form" method="POST">
        <div>
            <label>Fecha inicio</label>
            <input type="date" id="inicio" name="inicio" />
        </div>
        <div>
            <label>Fecha fin</label>
            <input type="date" id="fin" name="fin" />
        </div>
            <button class="btn btn-success" id="form-btn" asp-controller="VFamiliaProductosVendidos" asp-action="Filtrar">Filtrar</button>
    </form>
</div>

<div id="chart_div">
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Familia)
            </th><th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <script>
                elements.push(["@item.Familia",@item.Monto]);
        </script>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Familia)
            </td>
            <td>
                ₡ @Html.DisplayFor(modelItem => item.Monto)
            </td>
        </tr>
}
    </tbody>
</table>

@*se indican el titulo, las dimensiones y las columnas que tendrá el grafico*@
<script>
        title = 'Familias de productos vendidos';
        width = 600;
        height = 600;
        columns.push(["string","Familia"]);
        columns.push(["number","Monto"]);
        //chart = new google.visualization.PieChart(document.getElementById('chart_div'))
        google.charts.setOnLoadCallback(pieChart);//esto es para que se genere el gráfico cuando se ha terminado de cargar la página
</script>