@model IEnumerable<CRM.Models.VCasosPorTipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Casos por tipo</h1>

<div class="container">
    <form class="form" method="POST">
        <div>
            <label>Fecha inicio</label>
            <input type="date" id="inicio" name="inicio" />
        </div>
        <div>
            <label>Fecha fin</label>
            <input type="date" id="fin" name="fin" />
        </div>
        <button class="btn btn-success" id="form-btn" asp-controller="VCasosPorTipo" asp-action="Filtrar">Filtrar</button>
        <button class="btn btn-secondary" id="form-btn" asp-controller="VCasosPorTipo" asp-action="Index">Quitar filtro</button>
    </form>
</div>

<div id="chart_div"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <script>
            elements.push(["@item.Tipo", @item.Porcentaje]);
        </script>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
        </tr>
}
    </tbody>
</table>



    @*se indican el titulo, las dimensiones y las columnas que tendrá el grafico*@
<script>
    title = 'Casos por tipo';
    width = 600;
    height = 600;
    columns.push(["string", "Tipo"]);
    columns.push(["number", "Porcentaje"]);
    //chart = new google.visualization.PieChart(document.getElementById('chart_div'))
    google.charts.setOnLoadCallback(pieChart);//esto es para que se genere el gráfico cuando se ha terminado de cargar la página
</script>