@model IEnumerable<CRM.Models.VCotizacionesValorPresentePorAnno>

@{
    ViewData["Title"] = "Index";
}

<h1>Cotizaciones valor presente por año</h1>

<div class="container">
    <form class="form" method="post">
        <div>
            <input type="number" name="anno" id="anno" placeholder="Año" min="2000" max="2022">
        </div>
        <button class="btn btn-success" id="form-btn" asp-controller="VCotizacionesValorPresentePorAnno" asp-action="Filtrar">Filtrar</button>
        <button class="btn btn-secondary" id="form-btn" asp-controller="VCotizacionesValorPresentePorAnno" asp-action="Index">Quitar filtro</button>
        <a class="btn btn-secondary" id="form-btn" asp-controller="VCotizacionesValorPresentePorMes" asp-action="Index">Ver por mes</a>
    </form>
</div>

<div id="chart_div"></div>

<table class="table th-inner sortable both"
       id="table"
       data-toggle="table"
       data-search="false"
       data-show-columns="false"
       data-show-multi-sort="true"
       data-pagination="true">
    <thead>
        <tr>
            <th data-field="Año" data-sortable="true">
                @Html.DisplayNameFor(model => model.Año)
            </th>
            <th data-field="MontoCotizaciones" data-sortable="true">
                @Html.DisplayNameFor(model => model.MontoCotizaciones)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <script>
                elements.push(["@item.Año", @item.MontoCotizaciones]);
        </script>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoCotizaciones)
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    title = 'Cotizaciones valor presente por año';
    width = 600;
    height = 600;
    columns.push(["string", "Año"]);
    columns.push(["number", "Monto de cotizaciones"]);
    //chart = new google.visualization.PieChart(document.getElementById('chart_div'))
    google.charts.setOnLoadCallback(pieChart);//esto es para que se genere el gráfico cuando se ha terminado de cargar la página
</script>
