@model IEnumerable<CRM.Models.VCotizacionesConMasActividadesTarea>

@{
    ViewData["Title"] = "Index";
}

<h1>Cotizaciones con más actividades</h1>

<div class="container">
    <form class="form" method="POST">
        <div>
            <label>Fecha inicio</label>
            <input type="date" id="inicio" name="inicio" />
        </div>
        <div>
            <label>Fecha fin</label>
            <input type="date" id="fin" name="fin" />
        </div>
        <button class="btn btn-success" id="form-btn" asp-controller="VCotizacionesConMasActividadesTareas" asp-action="Filtrar">Filtrar</button>
        <button class="btn btn-secondary" id="form-btn" asp-controller="VCotizacionesConMasActividadesTareas" asp-action="Index">Quitar filtro</button>
    </form>
</div>


<table class="table th-inner sortable both"
       id="table"
       data-toggle="table"
       data-search="false"
       data-show-columns="false"
       data-show-multi-sort="true"
       data-pagination="true">
    <thead>
        <tr>
            <th data-field="NumeroCotizacion" data-sortable="true">
                @Html.DisplayNameFor(model => model.NumeroCotizacion)
            </th>
            <th data-field="TotalTareasActividades" data-sortable="true">
                @Html.DisplayNameFor(model => model.TotalTareasActividades)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*<a class="btn btn-secondary" id="form-btn" asp-controller="Cotizacion" asp-action="Details" asp-route-id="@item.NumeroCotizacion">*@
                    @Html.DisplayFor(modelItem => item.NumeroCotizacion)
                @*</a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTareasActividades)
            </td>
        </tr>
}
    </tbody>
</table>
